button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  background-color: var(--color-action);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--color-action-contrast);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing-sm) var(--spacing-sm);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-action-light);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}