button,
a[role="button"],
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  background-color: var(--color-action);
  border: var(--border);
  border-color: var(--color-action);
  border-radius: var(--border-radius);
  color: var(--color-action-contrast);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--button-font-size);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--button-font-weight);
  line-height: 1;
  letter-spacing: var(--button-letter-spacing);
  height: fit-content;
  padding: var(--spacing-base) var(--spacing-lg) var(--spacing-base) var(--spacing-base);
  text-align: center;
  text-decoration: none;
  transition: all var(--animation-duration) var(--animation-timing);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:before {
    background-color: currentColor;
    content: "";
    display: inline-block;
    width: 0.333em;
    height: 0.333em;
    vertical-align: middle;
    margin-right: calc(var(--spacing-sm) * 1.5);
    margin-bottom: 2px;
  }

  &:hover {
    background-color: var(--color-action-light);
    border-color: var(--color-action-light);
    color: var(--color-action-contrast);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.large,
  &.lg {
    font-size: var(--font-size-body-lg);
  }

  &.small,
  &.sm {
    font-size: var(--font-size-body-sm);
  }

  &.outline {
    background-color: transparent;
    color: var(--color-action);
    border: var(--border);
    border-color: var(--color-action);

    &:hover {
      color: var(--color-action-light);
      border-color: var(--color-action-light);
    }
  }

  &.purple-lite {
    background-color: var(--color-purple-lite);
    border-color: var(--color-purple-lite);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-purple);
      border-color: var(--color-purple);
    }

    &.outline {
      background-color: transparent;
      color: var(--color-purple-lite);
      border-color: var(--color-purple-lite);

      &:hover {
        color: var(--color-purple);
        border-color: var(--color-purple);
      }
    }
  }

  &.purple {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-purple-lite);
      border-color: var(--color-purple-lite);
    }

    &.outline {
      background-color: transparent;
      color: var(--color-purple);
      border-color: var(--color-purple);

      &:hover {
        color: var(--color-purple-lite);
        border-color: var(--color-purple-lite);
      }
    }
  }

  &.red {
    background-color: var(--color-red-1);
    border-color: var(--color-red-1);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-maroon);
      border-color: var(--color-maroon);
    }

    &.outline {
      background-color: transparent;
      color: var(--color-red-1);
      border-color: var(--color-red-1);

      &:hover {
        color: var(--color-maroon);
        border-color: var(--color-maroon);
      }
    }
  }

  &.link,
  &.text {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-action);

    &::before {
      display: none;
    }

    &:hover {
      color: var(--color-action-light);
      border-color: transparent;
    }
  }
}