button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  background-color: var(--action-color);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--action-color--contrast);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-base);
  font-size: 0.857142857142857rem;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 1;
  width: 100%;
  height: 48px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--action-color--alt);
    color: var(--action-color--contrast);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-neutral-20);
  }

  &.secondary {
    background-color: transparent;
    color: var(--action-color);
    border: var(--border);
    bordder-color: var(--color-white);

    &:hover {
      background-color: var(--color-neutral-20);
    }
  }

  &.icon {
    background: transparent;
    color: var(--action-color);
    flex-shrink: 1;
    padding: 0;
    width: auto;
    height: auto;
  }
}