$checkboxWidth: 44px;
$checkboxHeight: 28px;
$checkboxToggleSize: 12px;
$checkboxSpacing: 8px;

input[type="checkbox"]:not(.regular-checkbox),
input[type="radio"] {
  height: 0;
  width: 0;
  visibility: visible;
  margin: 0;

  + label {
    cursor: pointer;
    border: var(--border);
    text-indent: -9999px;
    width: $checkboxWidth;
    height: $checkboxHeight;
    background: var(--color-black);
    display: block;
    border-radius: $checkboxHeight;
    position: relative;
  }

  + label:after {
    content: "";
    position: absolute;
    top: $checkboxSpacing;
    left: $checkboxSpacing;
    width: $checkboxToggleSize;
    height: $checkboxToggleSize;
    background-color: var(--color-action--disabled);
    border-radius: $checkboxToggleSize;
    transition: 0.3s;
  }

  &:checked + label {
    background: var(--color-action);

    &:after {
      background-color: var(--color-white);
    }
  }

  &:checked + label:after {
    left: calc(100% - #{$checkboxSpacing});
    transform: translateX(-100%);
  }

  + label:active:after {
    width: 16px;
  }

  &:focus-visible {
    outline: none;
    border: none;

    + label,
    + .label {
      border: var(--border);
      border-color: var(--color-action);
    }

    &:checked {
      + label,
      + .label {
        border: var(--border);
        border-color: var(--color-white);
      }
    }
  }
}

$regularCheckboxSize: 20px;

.checkbox-control {
  display: flex;
  gap: calc(var(--spacing-small) / 2);
  align-items: center;
  line-height: 1;
}

.regular-checkbox {
  appearance: none;
  background-color: var(--color-black);
  margin: 0;
  width: $regularCheckboxSize;
  height: $regularCheckboxSize;
  max-width: $regularCheckboxSize;
  min-width: $regularCheckboxSize;

  color: currentColor;
  border: var(--border);
  border-radius: calc(var(--border-radius) / 2);
  transform: translateY(-0.075em);

  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    border-radius: calc(var(--border-radius) / 4);
    content: "";
    width: calc(#{$regularCheckboxSize} / 2);
    height: calc(#{$regularCheckboxSize} / 2);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-action);
  }

  &:checked::before {
    transform: scale(1);
  }
}
