.color-selector {
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  color: var(--font-color-highlight);
  font: var(--label2);
  margin-bottom: 0;
  padding: var(--spacing-small);
  transition: border-color var(--duration) var(--timing);
  width: 100%;
  position: relative;
  display: flex;
  gap: var(--spacing-small);
  align-items: center;

  &:has(input:focus-visible) {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  .color-chip {
    width: 20px;
    height: 16px;
    border-radius: calc(var(--border-radius) / 2);
    border: var(--border);
  }

  .color-text {
    text-transform: uppercase;
  }

  .hidden {
    position: absolute;
    left: 0;
    opacity: 0;
  }
}
