@font-face {
    font-family: 'Proxima Nova';
    src: url('../app/fonts/ProximaNova-Medium.woff2') format('woff2'),
        url('../app/fonts/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../app/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../app/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../app/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../app/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../app/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../app/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../app/fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../app/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}