fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
  padding: 0;
}

label,
.toggle-label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

select {
  appearance: auto !important;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0
}

select,
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="datalist"],
input:not([type]),
textarea {
  appearance: none;
  // background-color: transparent;
  // border: var(--border);
  // border-radius: var(--border-radius);
  box-sizing: border-box;
  margin-bottom: var(--spacing-sm);
  // padding: calc(var(--spacing-base) / 3);
  // transition: border-color var(--animation-duration) var(--animation-timing);
  width: 100%;
  font-size: 15px;
  line-height: normal;



  appearance: none;
  border: none;
  color: var(--color-text-inverse);
  outline: none;
  background: none;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 56px;
  padding: 26px;
  position: relative;



  &:autofill {
    background: none;
    outline: none;
    border: none;
    color: red !important;
  }

  &:focus,
  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border: var(--border);
    }
  }

  &::placeholder {
    color: var(--color-text-primary);
    // opacity: 0.25;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--spacing-sm);
}

[type="file"] {
  margin-bottom: var(--spacing-sm);
  width: 100%;
}

select {
  margin-bottom: var(--spacing-sm);
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {

  &:focus,
  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

[type="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: var(--border-radius);
  width: 32px;
  height: 32px;
  padding: 0;
  overflow: hidden;
}

[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type="color"]::-webkit-color-swatch {
  border: none;
}

meter,
progress,
[type="range"],
[type="datalist"] {
  width: 100%;
}

.form-group {
  margin-bottom: var(--spacing-base);
  position: relative;

  --dark: var(--color-action-primary);
  --light: var(--color-action-primary);

  --vertical-cut: 16px;
  --horizontal-cut: 12px;

  &:has([type="search"]) {
    &:before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, var(--dark), var(--light));
      clip-path: polygon(0 var(--vertical-cut),
          var(--horizontal-cut) 0,
          100% 0,
          100% calc(100% - var(--vertical-cut)),
          calc(100% - var(--horizontal-cut)) 100%,
          0 100%,

          0 var(--vertical-cut),
          1px calc(var(--vertical-cut) + 1px),
          1px calc(100% - 1px),
          calc(100% - var(--horizontal-cut) - 0.41px) calc(100% - 1px),
          calc(100% - 1px) calc(100% - var(--vertical-cut) - 0.41px),
          calc(100% - 1px) 1px,
          calc(var(--horizontal-cut) + 0.41px) 1px,
          1px calc(var(--vertical-cut) + 0.41px));
    }
  }
}