html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.Root {
  position: absolute;
  top: 0;

  &:before {
    content: '';
    position: fixed;
    inset: 0;
    background: var(--color-black);
    background: var(--viewport-background-color);
  }
}