--select-color: #fff;
--select-border: rgba(255, 255, 255, 0.20);
--select-focus: #FB000C;
--select-arrow: var(--select-color);

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 16px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  color: var(--color-white);
  text-transform: uppercase;

  // NOTE: SET SELECT WIDTH ON CHANGE
  // function setSelectWidth() {
  //     const currentLabel = $select.element.div.options[$select.element.div.selectedIndex].innerHTML;
  //     $select.element.div.style.setProperty("--select-width", `${currentLabel.length + 1}ch`);
  // }
  width: calc(var(--select-width) + 32px);
  overflow: visible;
  outline: none;
  transition: width 0.3s ease-in-out;

  &::-ms-expand {
    display: none;
  }

}

.select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--select-border);
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
  line-height: 1.1;
  transition: border-color 0.3s ease-out;
  pointer-events: all;

  &:has(select:focus-visible) {
    outline: 1px solid var(--select-focus);
    outline-offset: 2px;
  }

  &:after {
    content: "";
    display: inline-block;
    border-right: 1px solid var(--select-color);
    border-bottom: 1px solid var(--select-color);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    transform-origin: right;
    left: -16px;
    position: relative;
  }

  &:hover {
    --select-border: var(--select-focus);
  }
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select+label {
  margin-top: 2rem;
}

.icon-wrapper {
  width: 16px;
  height: 16px;
  position: relative;
  left: 10px;
  top: -1px;
}

svg {
  width: 100%;
  height: 100%;
}