html {
  color: var(--font-color-base);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
}

body {
  ::selection {
    background-color: var(--action-color);
    color: var(--action-color--contrast);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing-small);
  overflow-wrap: break-word;
  hyphens: auto;
}

h1,
.display-large {
  font-size: var(--font-size-display-lg);
}

.display-medium {
  font-size: var(--font-size-display-md);
}

.display-small {
  font-size: var(--font-size-display-sm);
}

.h1-medium {
  font-size: var(--font-size-h1-md);
}

p {
  margin: 0 0 var(--spacing-small);
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  color: var(--action-color);
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);

  &:hover {
    color: var(--action-color)--alt;
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}