& {
  // COLORS
  --color-black: #000000;
  --color-white: #ffffff;

  --color-neutral-0: var(--color-black);
  --color-neutral-10: #161616;
  --color-neutral-20: #272727;
  --color-neutral-30: #303030;
  --color-neutral-40: #363636;
  --color-neutral-70: #737373;
  --color-neutral-80: #8b8c8a;
  --color-neutral-90: #cccccc;
  --color-neutral-100: var(--color-white);

  --color-accent-50: #1a6dea;
  --color-accent-60: #3787ff;
  --color-accent-80: #79aeff;

  --color-error-60: #e64040;
  --color-error: var(--color-error-60);

  --color-highlight: var(--color-accent-50);
  --color-hightlight-light: var(--color-accent-60);
  --color-highlight-transparent: rgba(26, 109, 234, 0.24);

  // Font Colors
  --font-color-base: var(--color-white);
  --font-color-highlight: var(--color-accent-80);
  --color-action: var(--color-highlight);
  --color-action--alt: var(--color-hightlight-light);
  --color-action--contrast: var(--color-white);
  --color-action--disabled: var(--color-neutral-70);

  // Background Colors
  --viewport-background-color: var(--color-neutral-10);

  // Fonts
  --font-primary: "Manrope", Helvetica Neue, Helvetica, sans-serif;
  --font-secondary: var(--font-primary);
  --font-tertiary: Courier New, Courier, Lucida Sans Typewriter,
    Lucida Typewriter, monospace;

  // Font Sizes
  --font-size-base: 12px;

  // Typography
  --font-family: var(--font-primary);

  --label1: normal 400 9px/120% var(--font-primary);
  --label2: normal 400 10px/130% var(--font-primary);
  --label3: normal 400 11px/130% var(--font-primary);
  --label3-semi: normal 600 11px/130% var(--font-primary);
  --label3-bold: normal 700 11px/130% var(--font-primary);
  --label4-medium: 500 12px/15px var(--font-primary);

  // Line heights
  --line-height: 1.3;

  // Other Sizes
  --border-radius: 8px;
  --spacing: 16px;
  --spacing-small: 12px;

  // Borders
  --border-width: 1px;
  --border: var(--border-width) solid var(--color-neutral-40);

  // Focus
  --focus-outline-width: 1px;
  --focus-outline-offset: 0;
  --focus-outline: var(--focus-outline-width) solid var(--color-action);

  // Animations
  --duration: 300ms;
  --timing: ease-out;
}
