:root {

  // TODO: TEST OUT OVERRIDES FOR DASHBOARD

  // Colors
  --color-neutral-hue: 0;
  --color-neutral-saturation: 0%;
  --color-neutral-lightness: 11%;

  --color-primary-hue: 248;
  --color-primary-saturation: 96%;
  --color-primary-lightness: 52%;

  --color-secondary-hue: 0;
  --color-secondary-saturation: 100%;
  --color-secondary-lightness: 70%;

  --color-accent-hue: var(--color-primary-hue);
  --color-accent-saturation: var(--color-primary-saturation);
  --color-accent-lightness: var(--color-primary-lightness);

  // Font Colors
  --font-color-base: var(--color-white);
  --action-color: var(--color-primary);
  --action-color--alt: var(--color-primary-60);
  --action-color--contrast: var(--color-white);

  // Background Colors
  --viewport-background-color: var(--color-neutral);

  // // Fonts
  --font-primary: 'Satoshi-Regular',
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  --font-secondary: var(--font-primary);
  --font-tertiary: Courier New,
    Courier,
    Lucida Sans Typewriter,
    Lucida Typewriter,
    monospace;

  // // Font Sizes
  // --font-size-base: 1em;

  // --font-size-display-lg: 3.5em;
  // --font-size-display-md: 3em;
  // --font-size-display-sm: 2.5em;

  // --font-size-h1-md: 2.125em;
  // --font-size-h2-md: 1.75em;
  // --font-size-h3-md: 1.5em;

  // --font-size-body-lg: 1.125em;
  // --font-size-body-sm: 0.875em;

  // // Typography
  --font-family: var(--font-primary);
  // --font-family-heading: var(--font-family);

  // --font-weight-thin: 100;
  // --font-weight-extra-light: 200;
  // --font-weight-light: 300;
  // --font-weight-normal: 400;
  // --font-weight-medium: 500;
  // --font-weight-semi-bold: 600;
  // --font-weight-bold: 700;
  // --font-weight-extra-bold: 800;
  // --font-weight-black: 900;

  // // Line heights
  // --line-height: 1.5;
  // --line-height-heading: 1.2;

  // // Other Sizes
  --border-radius: 0;
  --spacing: 1rem;
  // --spacing-small: calc(var(--spacing) / 2);

  // // Borders
  // --border-width: 0.0625rem;
  --border: var(--border-width) solid var(--color-neutral-10);

  // // Focus
  // --focus-outline-width: 0.1875rem;
  // --focus-outline-offset: 0.125rem;
  // --focus-outline: var(--focus-outline-width) solid var(--action-color);

  // // Animations
  // --duration: 150ms;
  // --timing: ease;
}